:root {
  --color-blue: #0050f5;
}

body {
  font-family: "Anonymous Pro", monospace;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  background: #f9f9f9;
  margin: 0;
}

::selection {
  background: #4a4a4a;
  color: #fff;
}
::-moz-selection {
  background: #4a4a4a;
  color: #fff;
}

h1 {
  font-family: "Martel", serif;
  color: var(--color-blue);
  font-weight: 900;
  text-transform: lowercase;
  font-size: 3rem;
  line-height: 1;
  margin-top: 0;
}

#content {
  margin: 0 auto;
  position: relative;
  padding: 2rem 1rem 2rem 1rem;
  max-width: 48rem;
  text-align: left;
  font-size: 2rem;
  line-height: 1.2;
}

@media screen and (min-width: 48rem) {
  h1 {
    font-size: 7rem;
    margin-top: 4rem;
  }

  #content {
    line-height: 1.5;
    font-size: 2.5rem;
    padding-top: 5rem;
  }
}

a,
a:visited,
a:active,
a:hover {
  color: var(--color-blue);
  text-decoration: none;
}
